.burito-img {
  display: block;
  width: 300px;
  height: 300px;
  background-color: salmon;
  margin-top: 30px;
}

.flex-imageslider {
  display: flex;
  align-items: center;
  color: #c2c2c2;
}

.icon {
  font-size: 28px;
  margin-top: 72px;
  color: #f3dc0b;
}

.mainh1sec1 {
  padding-left: 25px;
  color: #c2c2c2;
}

.maindivmenu {
  position: relative;
  background-color: #242424;
  padding: 120px 20px 20px 20px;
  height: calc(100vh);
}
